h1 {
  font-size: 120px;
  font-family: 'Nunito';
}

.gap {
  padding: 3rem;
}
.gap-small {
  padding: 1rem;
}

.cmd {  
  background-color: #111;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 0.9rem;
}
.txt {
  font-size: large;
  margin: 1rem;
}
.term {
  background-color: #111;
  padding: 1rem;
}

.cline {
  font-size: xx-large;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
}

ion-button {
  color: var(--ion-color-primary);
  --background: white;
}

ion-text {
  font-size: xx-large;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rows {
  margin-top: -2rem;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

a {
  color: white;
}