h1 {
  font-size: 120px;
  font-family: 'Nunito';
}

.panel {
  background-color: #37474f;
  width: 100%;
  margin-left: 10vw;
  margin-right: 10vw;
}

.cornered {
  margin-top: 2rem;
  border-radius: 10rem 10rem 0 0;
  background-color: var(--ion-color-primary);
  width: 100%;
}

.cornered-b {
  border-radius: 0 0 10rem 10rem;
  background-color: var(--ion-color-primary);
  width: 100%;
}

.panel2 {
  width: 100%;
}

.gap {
  padding: 3rem;
}

.gap-small {
  padding: 1rem;
}

.cmd {
  background-color: #171717;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 4rem;
  padding-right: 0rem;
}

ion-text {
  font-size: 3rem;
}

.txt {
  font-size: 2rem;
  margin-bottom: 1rem;
  max-width: 700px;
}

.copy {
  float: right;
  margin-top: -0.5rem;
  font-size: 2rem;
  opacity: 0.2;
}

ion-icon {
  font-size: 3rem;
  padding: 1rem;
}

.term {
  background-color: #171717;
  padding: 2rem;
  text-align: left;
}

.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5rem;
}

.cline {
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rows {
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
}

a {
  color: white;
}

@media (max-width:801px) {
  h1 {
    font-size: 2.5rem;
  }

  ion-text {
    font-size: 1.5rem;
  }

  .txt {
    font-size: 1.2rem;
  }

  code {
    font-size: 0.8rem;
  }

  .cline {
    font-size: 2rem;
  }

  .bpad {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}