<ion-content color="primary" [fullscreen]="true">
  <a href="https://github.com/dtarnawsky/packageup" target="_blank"><ion-icon style="float: right"
      name="logo-github"></ion-icon></a>
  <div class="vcenter rows">
    <h1>packageup</h1>
    <ion-text>Report your <b>project health</b></ion-text>
    <div class="gap"></div>

    <ion-text><b>Get Started</b></ion-text>
    <ion-text class="txt">Run this command at the terminal.</ion-text>
    <div class="flex">
      <div class="cmd shadow">
        <ion-text style="opacity: 0.5; font-weight: bolder; padding-right: 1rem">&gt;</ion-text>
        <input style="display: none;" id="cmd" type="text" value="npx pkup" id="cmd">
        <span class="cline">npx pkup</span>
        <ion-button color="medium" fill="clear" (click)="copy()"><ion-icon class="copy" name="copy-outline"></ion-icon></ion-button>
      </div>
    </div>
    <div class="gap"></div>
    <ion-text><b>Reporting</b></ion-text>
    <ion-text class="txt">Report to the terminal your score and recommendations.</ion-text>
    <div class="term shadow"><code>
      > <b>npx pkup</b><br/>
      <br/>
      🟡 com.company.mobile.app v5.2.1 scored 65% using packageup.io<br/>
      <br/>
      This score was based on these categories:<br/>
      🔴 Framework - 0%<br/>
      🔴 Ionic - 23%<br/>
      🟠 Platform - 50%<br/>
      🟡 Other - 74%<br/>
      🟢 Plugins - 94%<br/>
      <br/>
      Improve your project by addressing these items:<br/>
      - Migrate Angular from v14 to v17 ⭐<br/>
      - Migrate Cordova iOS from v6 to v7 ⭐<br/>
      - Migrate Auth Connect (&#64;ionic-enterprise/auth) from v3 to v5 ⭐<br/>
      - &#64;awesome-cordova-plugins/core - Update from v5 to v6<br/>
      - cordova-launch-review - Update from v3 to v4<br/>
      - cordova-plugin-androidx - Update from v2 to v3<br/>
      - cordova-plugin-file - Update from v6 to v8<br/>
      - cordova-plugin-geolocation - Update from v4 to v5<br/>
      - cordova-plugin-inappbrowser - Update from v5 to v6<br/>
      - cordova-plugin-network-information - Update from v2 to v3<br/>
      - Migrate Ionic Angular (&#64;ionic/angular) from v6 to v7 ⭐<br/>
      - &#64;ionic/angular-toolkit - Update from v5 to v10<br/>
      - &#64;ionic/storage - Update from v2 to v4<br/>
      - &#64;types/jasmine - Update from v3 to v5<br/>
      - &#64;types/node - Update from v12 to v20<br/>
      - core-js - Update from v2 to v3<br/>
      - cypress - Update from v11 to v13<br/>
      - jasmine-core - Update from v3 to v5<br/>
      - jasmine-spec-reporter - Update from v5 to v7<br/>
      - karma-jasmine-html-reporter - Update from v1 to v2<br/>
      - karma-jasmine - Update from v4 to v5<br/>
      - ngx-mask - Update from v12 to v17<br/>
      - rxjs - Update from v6 to v7<br/>
      - ts-node - Update from v7 to v10<br/>
      - typescript - Update from v4 to v5<br/>
    </code>
    </div>
    <!-- <ion-button href="mailto:damian@dust.events" size="large" fill="round">Contact Us</ion-button> -->
    <div class="gap"></div>
    <ion-text><b>Privacy</b></ion-text>
    <ion-text class="txt">The <b>pkup</b> CLI tool does not capture any information about your project. It just reports
      it.</ion-text>
    <div class="gap"></div>
    <div class="gap"></div>
  </div>
</ion-content>