<ion-content color="primary" [fullscreen]="true">
  <div class="vcenter rows">
    <div style="padding: 5rem;"></div>
    <h1>packageup</h1>
    <ion-text>Report your <b>project health</b></ion-text>
    <div class="gap"></div>
    
    <ion-text><b>Get Started</b></ion-text>
    <ion-text class="txt">Run this command at the terminal.</ion-text>
    <div class="gap-small"></div>
    <div class="flex">
      
      <div class="cmd">
        <ion-text style="opacity: 0.5; font-weight: bolder; padding-right: 1rem">&gt;</ion-text><span class="cline">npx pkup</span>
      </div>
    </div>
    <div class="gap"></div>
    <ion-text><b>Reporting</b></ion-text>
    <ion-text class="txt">The report goes to the terminal with your score and recommendations.</ion-text>
    <div class="term">
    <img src="assets/screenshot.png" alt="terminal output showing an example projects score and recommendations" />
  </div>
    <!-- <ion-button href="mailto:damian@dust.events" size="large" fill="round">Contact Us</ion-button> -->
    <div class="gap"></div>
    <ion-text><b>Privacy</b></ion-text>
    <ion-text class="txt">The <b>pkup</b> CLI tool does not capture any information about your project. It just reports it.</ion-text>
    <div class="gap"></div>
    <div class="gap"></div>
    <div class="gap"></div>
  </div>
</ion-content>