h1 {
  font-size: 120px;
  font-family: 'Nunito';
}

.gap {
  padding: 3rem;
}
.gap-small {
  padding: 1rem;
}

.cmd {  
  background-color: #171717;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 4rem;
  padding-right: 0rem;
}

ion-text {
  font-size: 3rem;
}

.txt {
  font-size: 2rem;
  margin-bottom: 1rem;
  max-width: 700px;
}

.copy {
  float: right;
  margin-top: -0.5rem;
  font-size: 2rem;
  opacity: 0.2;
}

ion-icon {
  font-size: 3rem;
  padding: 1rem;
}

.term {
  background-color: #171717;
  padding: 2rem;
  text-align: left;
}

.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5rem;
}

.cline {
  font-size: xx-large;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rows {
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
}

a {
  color: white;
}